@model SalesWebMVC.Models.Seller


<h2>Delete</h2>

<div>
    <h4>Seller</h4>
    <hr>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name);
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Name);
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Email);
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Email);
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate);
        </dt>
        <dt>
            @Html.DisplayFor(model => model.BirthDate);
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary);
        </dt>
        <dt>
            @Html.DisplayFor(model => model.BaseSalary);
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
